.editProfile {
  background-image: url(../../assets/images/edit_FILL0_wght400_GRAD0_opsz48.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 100%;
}
