article.profilePage {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profilePage .mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding-right: 20px;
}

.profilePage .mainHeader h1 {
  font-size: var(--h1-font-size);
}

.profilePage .mainHeaderNav .menuListWithToken .menuList img {
  width: 35px;
  height: 35px;
}

.profilePage .profileArticle {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85vh;
  justify-content: start;
  align-items: start;
  text-align: start;
  padding-left: 15px;
  padding-top: 20px;
}

.profilePage .profileArticle h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: var(--h3-font-size);
}

.profilePage .profileArticle img.imageAvatar {
  min-width: 120px;
  height: 120px;
}

.profilePage .profileArticle h4 {
  margin-bottom: 8px;
  font-size: var(--p-font-size);
}

.profilePage .profileArticle p {
  margin-bottom: 8px;
  font-size: var(--p-font-size);
}

.profilePage .profileArticle .editProfile {
  position: fixed;
  right: 25px;
  top: 80px;
}

.profilePage .mainFooter {
  height: 10%;
  height: 7vh;
}
