/* ----------------------articulo que engloba la profilepage--------------------------------- */
article.profilePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* -----------------------header de la profile page-------------------------- */
.profilePage .mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding-right: 20px;
  border-right: 1px solid var(--main-border-color);
}

/* ------------------------Size del menuList del header--------------------------------- */
.profilePage .mainHeaderNav .menuListWithToken .menuList img.imageAvatar {
  width: 35px;
  height: 35px;
}

/* ---------------------Articulo contenedor de los datos del perfil (<Profile/>)--------------------------- */
.profilePage .profileArticle {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 85vh;
  justify-content: start;
  align-items: start;
  text-align: start;
  padding-left: 15px;
  padding-top: 20px;
  padding-right: 10px;
}

/* ------------------------Nombre de usuario--------------------------- */
.profilePage .profileArticle h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: var(--h3-font-size);
}

/* ------------------------Imagen del avatar----------------------------------- */
.profilePage .profileArticle img.imageAvatar {
  min-width: 120px;
  height: 120px;
}

/* -------------------------parrafo con el Correo del usuario------------------------------------ */
.profilePage .profileArticle h4 {
  margin-bottom: 8px;
  font-size: var(--p-font-size);
}

/* -------------------------parrafo con la biografia del usuario------------------------------------ */
.profilePage .profileArticle p {
  margin-bottom: 8px;
  font-size: var(--p-font-size);
}

/* -----------------------boton para editar el perfil--------------------------- */
.profilePage .profileArticle .editProfile {
  position: fixed;
  right: 30px;
  top: 100px;
}

/* --------footer en la profile page------------ */
.profilePage .mainFooter {
  height: 10%;
  height: 7vh;
}

/* ---------------------Telefono horizontal-------------------------------- */
@media (min-width: 600px) and (max-height: 420px) {
  /* ------------------header------------------------ */
  .profilePage header.mainHeader {
    height: 20vh;
  }
  /* -----------------footer------------------------- */
  .profilePage .mainFooter {
    height: 12vh;
  }
  /* ------------------articulo del componente <Profile/>------------------------ */
  article.profilePage {
    height: 100vh;
    overflow-y: scroll;
  }
  /* -----------------parrafos del perfil------------------------- */
  .profilePage .profileArticle p {
    word-wrap: break-word;
  }
  /* -----------------imagen del menu list del header------------------------- */
  .profilePage .mainHeaderNav .menuListWithToken .menuList img.imageAvatar {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  /* -----------------------boton para editar el perfil--------------------------- */
  .profilePage .profileArticle .editProfile {
    right: 160px;
    top: 120px;
  }

  .profilePage .mainFooter .newEntryButton {
    width: 30px;
    height: 30px;
  }
}
/* ---------------------Formato tablet (ipad air)-------------------------------- */
@media (min-width: 600px) {
  article.profilePage {
    margin: 0 15%;
    border: 1px solid var(--main-border-color);
  }

  .profilePage .mainHeader {
    margin: 0;
  }

  .profilePage .mainFooter {
    margin: 0;
    display: flex;
    align-items: center;
  }

  .profilePage .mainHeaderNav .menuListWithToken .menuList img.imageAvatar {
    width: 70px;
    height: 70px;
    margin: 0;
  }

  .profilePage .mainHeader h1 img {
    min-width: 180px;
    min-height: 70px;
    align-self: center;
  }

  .profilePage .profileArticle h4,
  .profilePage .profileArticle p {
    font-size: var(--h2-font-size);
  }

  .profilePage .profileArticle h2 {
    font-size: var(--h1-font-size);
  }

  .profilePage .profileArticle {
    margin: 10px;
  }
  /* -----------------------boton para editar el perfil--------------------------- */
  .profilePage .profileArticle .editProfile {
    right: 160px;
    top: 140px;
  }
}
/* 
/* ---------------------Ipad air horizontal-------------------------------- */
@media (min-width: 600px) and (max-height: 1000px) {
  /* -----------------------boton para editar el perfil--------------------------- */
  .profilePage .profileArticle .editProfile {
    right: 210px;
    top: 110px;
  }
  /* -----------------------boton para editar el perfil--------------------------- */
  .profilePage .mainHeaderNav .menuListWithToken .menuList img.imageAvatar {
    width: 50px;
    height: 50px;
  }

  .profilePage .mainHeader h1 img {
    min-width: 180px;
    min-height: 70px;
    align-self: center;
  }

  .profilePage .mainHeader {
    height: 8%;
  }
}

/* ---------------------PC------------------------------- */

@media (min-width: 800px) {
  .profilePage .profileArticle .editProfile {
    right: 260px;
    top: 140px;
  }
  form.editUserForm {
    justify-content: space-around;
  }
}
