/* ----------Div modal fondo -------- */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-content: center;
}

/* ----------modal container  -------- */
.modal .modalContainer {
  margin: 4rem;
  padding: 1rem;
  height: 600px;
  width: 350px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 253, 253);
  -webkit-box-shadow: 1px 4px 15px -1px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 1px 4px 15px -1px rgba(0, 0, 0, 0.18);
  box-shadow: 1px 4px 15px -1px rgba(0, 0, 0, 0.18);
}

/* ----------Dmodal de editUserForm -------- */
.profile-modal .modalContainer {
  max-height: 350px;
}

/* ----------Modal de regiterForm-------- */
.register-modal .modalContainer {
  max-height: 280px;
}

/* ----------Modal de loginForm -------- */
.login-modal .modalContainer {
  max-height: 200px;
  max-width: 300px;
}
/* ----------Modal de comments-------- */
.comments-modal .modalContainer {
  max-height: 450px;
}
