/*--------------ENTRY-------------------*/

.entry {
  padding: 15px 10px 5px 5px;
  list-style: none;
  border-bottom: 1px solid rgba(43, 43, 43, 0.3);
}
.solved {
  background-color: cadetblue;
}
.unsolved {
  background-color: rgb(220, 217, 223);
}

/* -------------Download button---------------------- */
section .entryDownload {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.downloadButton {
  border: none;
  margin: 0px 5px 0px 5px;
  background-color: transparent;
  background-image: url("../../assets/images/download_FILL0_wght400_GRAD0_opsz48.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 30px;
  min-height: 30px;
}

.entryDownload p {
  font-size: var(--p-font-size);
}

/* -------------Todos los li del header---------------------- */
header ul li {
  list-style: none;
}
/* -------------contenedor de solvedSwitch---------------------- */
.user .solvedbutton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 25px;
  font-size: var(--p-font-size);
}

/*-------------------li en el que se ve la categoria de la entry-------------------*/
.parrafoCategoria {
  flex-grow: 1;
  text-align: right;
}

/*-------------Parrafo en el que se ve la descripcion de la entry-------------------------*/
.user p {
  padding: 0px 10px 10px 10px;
  margin-bottom: 20px;
  word-wrap: break-word;
  font-size: var(--p-font-size);
}

/*----------------H2 de la entry----------------------*/
header h2 {
  padding-left: 10px;
  font-size: var(--h2-font-size);
}

/*------------ENTRY-FOOTER------------*/
.entryFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 8px 8px 8px 8px;
}

/*------------------Ul en el que esta el avatar y el username--------------------*/
.ulUsernameAndAvatar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/*--------------H3 en en el que se encuentra el username------------------------*/
.ulUsernameAndAvatar li h3 {
  padding-left: 4px;
  font-weight: 500;
  font-size: var(--h3-font-size);
}

/* --------Imagen del avatar del user que creo la entry------------ */
.entryFooter img {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

/*----------------Todos los li dentro del footer----------------------*/
.entryFooter ul li {
  list-style: none;
}

.delete-comment-items {
  display: flex;
}

/*---------------Boton para comentar-----------------------*/
.newCommentButton {
  background-image: url("../../assets/images/add_comment_FILL0_wght400_GRAD0_opsz48.svg");
  min-height: 28px;
  min-width: 28px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  margin-right: 5px;
}
/*--------------Boton de borrar entry------------------------*/
.deleteEntryButton {
  background-image: url("../../assets/images/delete_FILL0_wght400_GRAD0_opsz48.svg");
  min-height: 28px;
  min-width: 28px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
