/* ----------Article del comment---------------- */
.comment {
  border-bottom: 1px solid var(--main-border-color);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 10px 0px 10px;
}

/* -------------párrafo de texto del comment--------------------- */
.comment .commentText {
  max-height: 150px;
  overflow-y: scroll;
  word-wrap: break-word;
  margin-bottom: 15px;
  font-size: var(--p-font-size);
}

/* -------------------selecciona el contenedor de la parte superior del comment, excepto el primer <p>---------------------------- */

.comment .upperCommentPart {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--p-font-size);
}

/* ---------li's del ul---------- */
.comment footer ul li {
  list-style: none;
}

/* ---------ul dentro del componente like---------- */
.comment footer ul li .ulLike {
  display: flex;
  align-items: center;
  padding-right: 5px;
  font-size: var(--p-font-size);
}

/* --------boton de descargar archivo------------- */
li.commentDownloadButtonContainer {
  display: flex;
  flex: row;
  align-items: center;
}

.comment .downloadButton {
  width: 5px;
}
li.deleteCommentButtonContainer {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
button.deleteCommentButton {
  border: none;
  margin: 0px 5px 0px 5px;
  background-color: transparent;
  background-image: url("../../assets/images/delete_FILL0_wght400_GRAD0_opsz48.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 30px;
  min-height: 30px;
}
/* ---------selecciona el contenedor (ul) en el que esta el avatar, username y el like---------- */
.comment footer ul li .LikeWithUserAndAvatar {
  display: flex;
  justify-content: space-between;
  align-items: centergba(127, 255, 212, 0.3);
}
/*------------------Contenedor del user y avatar de los comentarios-------------------------------------*/
li.commentUserContainer {
  flex-grow: 1;
}
/* ----------------contenedor(article) del avatar y el username----------------------- */
.comment footer ul li .LikeWithUserAndAvatar li article {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* -------------------username--------------------------- */
.comment footer ul li .LikeWithUserAndAvatar li article p {
  padding-left: 5px;
  font-size: 10pt;
  font-weight: 200;
}

.comment .commentText {
  max-height: 150px;
  overflow-y: scroll;
  word-wrap: break-word;
  margin-bottom: 15px;
  font-size: var(--p-font-size);
}

/* ---------------------PC------------------------------- */

@media (min-width: 1000px) {
  .comment .commentText {
    flex-grow: 1;
    overflow-y: hidden;
    max-height: fit-content;
  }
}
