.mainHeader {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  border-bottom: 1px solid var(--main-border-color);
  background-color: var(--main-background-color);
  position: sticky;
  top: 0;
  width: 100vw;
  height: 20%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px 14px;
  z-index: 500;
}

.mainHeader > section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/*------SELECTOR DE CATEGORÍAS--------*/

.categories {
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  line-height: 1.1;
  background-color: var(--main-background-color);
  width: 100%;
  align-self: flex-end;
}
.categories option:focus {
  background-color: var(--main-button-color);
}
/*--------------------------------------*/

img.logoHelpyeah {
  height: 30px;
}
/*-----------MAIN HEADER NAV---------------*/
.mainHeaderNav {
  margin-top: 2px;
} /*----------------------------------------*/

@media (min-width: 600px) {
  .mainHeader {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  img.logoHelpyeah {
    height: 55px;
  }
  .mainHeader h1 {
    margin: 0;
  }
}

/* ---------------------Ipad air horizontal-------------------------------- */
@media (min-width: 600px) and (max-height: 1000px) {
  .mainHeader {
    margin: 0;
    width: 100%;
    border-right: 1px solid var(--main-border-color);
    border-left: 1px solid var(--main-border-color);
    height: 15vh;
  }
  h1 img.logoHelpyeah {
    height: 40px;
    min-width: 160px;
  }
}
