.mainHeader {
  border-bottom: 2px solid var(--main-border-color);
  display: flex;
}

/*------SELECTOR DE CATEGORÍAS--------*/

.categories {
  border: 1px solid rgb(39, 119, 2);
}

.categories option {
  background-color: aquamarine;
}
/*--------------------------------------*/

/*-----------MAIN HEADER NAV---------------*/
.mainHeaderNav {
} /*----------------------------------------*/
