/* -------------------Footer--------------------------- */

.mainFooter {
  border-top: 1px solid var(--main-border-color);
  display: flex;
  justify-content: center;
  min-height: 10%;
  position: sticky;
  bottom: 0px;
  width: 100vw;
  background-color: #fffcf2;
  z-index: 500;
}

/* -------------------Botón Nueva Entry--------------------------- */

.newEntryButton {
  background-color: transparent;
  border: none;
  background-image: url("../../assets/images/add_box_FILL0_wght400_GRAD0_opsz48.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  width: 45px;
  height: 45px;
}

/* -------------------Footer Query--------------------------- */

@media (min-width: 600px) {
  .mainFooter {
    width: 100%;
    display: flex;
    justify-content: center;
    border-right: 1px solid var(--main-border-color);
    border-left: 1px solid var(--main-border-color);
  }
}
