.mainFooter {
  border-top: 1px solid var(--main-border-color);
  display: flex;
  justify-content: center;
  min-height: 10%;
  position: sticky;
  width: 100vw;
  bottom: 0px;
  background-color: #fffcf2;
}

.newEntryButton {
  background-color: transparent;
  border: none;
  background-image: url("../../assets/images/add_box_FILL0_wght400_GRAD0_opsz48.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  min-width: 45px;
  min-height: 45px;
}
