/* --------------------------------------------------------------------- */
/* -----------------------Dimensiones base Iphone 12pro------------------------ */
/* --------------------------------------------------------------------- */

/* ---------------------Entry Form--------------------------- */
.newEntryForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  padding: 10px;
}
/* ------------------------Todos los inputs------------------------- */
input {
  border-style: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.161);
  width: 100%;
}

/* ------------------------Title label------------------------- */

.entryTitle {
  min-height: 25px;
}

/* ------------------------Title input------------------------- */

#title {
  min-height: 25px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.161);
  border-radius: 0.5rem;
}

/* -----------------------Description input------------------------ */
#description {
  align-self: center;
  min-height: 250px;
  min-width: 100%;
  vertical-align: text-top;
  resize: none;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.161);
  padding: 10px;
}

/* -----------------------Upload label------------------------ */

.entryUpload {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

/* ---------------Parrafo del Upload / nombre del archivo----------------- */
.entryUpload p {
  align-self: flex-end;
  padding-bottom: 5px;
  padding-left: 5px;
  word-break: break-all;
}

/* -----------------------Img upload------------------------ */
.entryUpload img {
  max-height: 40px;
}

/* -----------------------label de las categorias------------------------ */

.entryCategory {
  min-height: 25px;
}

/* -----------------------select de las categorias------------------------ */
#categories {
  position: relative;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.161);
  border-radius: 0.5rem;
  padding: 6px 8px;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  width: 100%;
}

/* -----------------------Boton para publicar------------------------ */
.postEntryButton {
  border: none;
  border-radius: 0.25em;
  padding: 0.8rem 1.5rem;
  align-self: center;
  font-weight: bold;
  margin-top: 10px;
  background-color: var(--main-button-color);
}

/* -----------------------Simbolo de upload (SVG)----------------------- */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
